fastapi
uvicorn
pydantic
loguru
python-dotenv
torch
opentelemetry-api 
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-exporter-otlp-proto-grpc
swarms
pandas
cryptography
